---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import { Accordion, AccordionItem } from 'accessible-astro-components'
---

<DefaultLayout title="wasm-demos">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Demos</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:tailwind" title="Compare Loop Speed", link="/wasm-demos/loop">
          Visualize and compare the performance difference between C++ WebAssembly and JavaScript by running identical loop operations.
        </Feature>
        <Feature icon="mdi:waveform" title="Recognize Song", link="/wasm-demos/recognition">
          C++ Sound Fingerprinting algorithm to recognize songs by their audio fingerprint.
        </Feature>
        <Feature icon="mdi:video" title="Edit Video", link="/wasm-demos/video">
          Simple video trimmer implemented in FFmpeg.wasm.
        </Feature>
        <Feature icon="mdi:json" title="JSON decode with threads", link="/wasm-demos/json">
          Compare the performance difference between C++ WebAssembly and JavaScript by running identical JSON decode operations.
        </Feature>
        <Feature icon="mdi:image" title="Image to ASCII", link="/wasm-demos/ascii">
          Capture webcam image and convert it to ASCII art in real-time using C++ WebAssembly.
        </Feature>
        <Feature icon="mdi:cat" title="Cat Image Classifier", link="/wasm-demos/cat">
          Use a pre-trained model to classify images of cats and dogs using tensorflow.js.
        </Feature>
        <Feature icon="mdi:counter" title="MNIST Digit Classifier", link="/wasm-demos/mnist">
          Use a pre-trained model to classify images of digits using tensorflow.js.
        </Feature>
        <Feature icon="mdi:waves-arrow-right" title="Physics Engine", link="/wasm-demos/physics">
          Implement a simple physics engine using C++ WebAssembly.
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia imgSrc={`${import.meta.env.BASE_URL}/wasm-space.png`}>
    <h2>What is WASM?</h2>
    <p class="text-2xl">
      WASM is a new way to run code on the web. It's a binary format that can run on any browser. It's fast and efficient.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc={`${import.meta.env.BASE_URL}/wasm-horse.png`} reverseImg={true}>
    <h2>How can WASM help you?</h2>
    <p class="text-2xl">
      WASM enables near-native performance for computationally intensive tasks in the browser, unlocking new possibilities for high-performance web apps.
    </p>
  </ContentMedia>
</DefaultLayout>
