---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - WASM Demos. Made by <a href="https://github.com/bayernmuller">BayernMüller</a>
      </p>
    </div>
  </section>
</footer>
